# Ignore build and publish folders
bin/
obj/

# Ignore Visual Studio files
.vs/
*.user
*.suo

# Ignore test result files
TestResults/
*.trx

# Ignore Rider files (if using JetBrains)
.idea/

# Ignore compiled DLLs
*.dll
*.pdb

# Ignore sourcelink artifacts
*.sourcelink.json
